<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/694922c8-fdc6-4541-9853-ee9ce2c70697/resourceGroups/rg_containerregistry/providers/Microsoft.ContainerRegistry/registries/containerregistry003</ResourceId>
    <ResourceName>containerregistry003</ResourceName>
    <ResourceGroup>rg_containerregistry</ResourceGroup>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <RegistryUrl>https://containerregistry003.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest_1</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>80fba3dd-25fa-471d-b8ea-cddb3bb5b955</ProjectGuid>
  </PropertyGroup>
</Project>