@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    ViewData["OS"] = System.Runtime.InteropServices.RuntimeInformation.OSDescription;
}

<div class="text-center" style="background-color:aqua">
    <h1 class="display-4">Welcome Kedar Good Job Secondary Stage</h1>
    <h1>@ViewData["OS"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
